@import "../../../style/index";
.cosplay-item{
    display: flex;
    flex-direction: row;
    width: 90%;

    margin: 2.5%;
    padding: 2.5%;

    background: $color-main;
    color: textColor($color-main);

    @include boxShadowStyle;

    img{
        height: 10rem;
        width: 10rem;
        border-radius: 1rem;
    }
    &__info{
        display: flex;
        flex-direction: column;
    }
    &__info {
        padding-left: 1rem;
    }
}