@import "../../style/index";

.header {
    display: flex;
    flex-direction: column;

    color: textColor($color-main);

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-transform: uppercase;
            font-size: 3rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a {
            width: 5rem;
            background: $color-second;
            color: textColor($color-second);

            text-decoration: none;
        }
    }
}